.field-widget-taxonomy-autocomplete{
    position: relative;
}

.views-field-field-assigned input{
    width: 130px;
}

.views-exposed-form .views-exposed-widget.views-submit-button{
  float: none;
  padding: 0;
}
.views-exposed-widget.views-submit-button .form-submit{
  float: left;
}
.views-exposed-widget.views-submit-button fieldset{
  float: right;
  margin: 0 2px 10px;
}

.views-exposed-widget.views-submit-button .form-item{
  display: inline-block;
}

.field-suffix .suffix{
  display: inline-block;
}
.field-suffix .suffix.status{
  background-repeat: no-repeat;
  padding-left: 25px;
  padding-top: 3px;
  height: 24px;
}

#main-menu-links li:not(:nth-last-child(-n+3)):after{
    content: "";
    display: block;
    background: url("white-arrow-right-md.png") no-repeat;
    width: 20px;
    height: 20px;
    float: left;
    margin: 7px -4px 0px 0px;
    background-size: cover;
}
/*#main-menu-links li:last-child:before{*/
    /*background: none;*/
/*}*/